$color-red: #c21b15;
$color-black: #000000;
$color-brightgray: #f1f1f1;
$color-purple: #6a0bff;
$color-white: #ffffff;

.post {
  &-jumbotron {
    display: flex;
    flex-direction: row;
    height: 330px;
    background-color: $color-brightgray;
    margin-bottom: 50px;

    &-left {
      width: 60%;

      img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
      }
    }

    &-right {
      width: 40%;
      background-color: $color-red;
      color: white;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      text-align: center;
      padding: 30px 15px;

      h2 {
        font-weight: 700;
      }

      h5 {
        font-size: 15px;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  &-container {
    max-width: 680px;
    margin: 64px auto;
  }

  &-content {
    &-title {
      font-weight: 600;
    }

    &-paragraph {
      margin: 20px 0;
      font-size: 21px;
      font-family: "EB Garamond", serif;
    }

    &-img {
      min-width: 100%;
    }
  }
}
